# Sentry Configuration
# SENTRY_DSN: Sentry Project DSN for crash reporting & telemetry
SENTRY_DSN=

# SENTRY_AUTH_TOKEN: Sentry Auth Token used by Gradle plugin to upload R8 / ProGuard mapping files
SENTRY_AUTH_TOKEN=
